<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Your name" />
  <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
  <meta name="description" content="Your name professional website" />
  <title>Zoey Ling</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="stylesheet" href="../static/style.css" />
  <script src="../static/script.js" defer></script>

</head>
<body onload="addYear()">
  <header style="color:white">
    <h1 id="webname">Ziyue(Zoey) Ling</h1>
    <nav>
      <ul>
        <a class="nav-link" href="../index.html">About</a>
        <a class="nav-link" href="../views/cv.html">Resume</a>
        <a class="nav-link" href="../views/contact.html">Contact</a>
        <a class="nav-link" href="../views/fun.html">Interest</a>
      </ul>
    </nav>
  </header>

  <div class="main">
    <h2>Contact Me</h2>
    <form id="contactForm">
          <label for="name">Name (required):</label>
          <input type="text" id="name" name="name" required>
        
          <label for="email">Email (required):</label>
          <input type="email" id="email" name="email" required>
        
          <label for="comments">Comments (required):</label>
          <textarea id="comments" name="comments" rows="5" cols="40" required></textarea>
        
          <p id="formMessage"></p>
      
          <input type="submit" value="Submit" id="submit" onclick="validateForm()">
    </form>

    <table style="margin-top: 20px; width: 100%;">
      <tr>
        <th>Contact Method Description</th>
      </tr>
      <tr>
        <td>Email</td>
        <td><a href="ziyuelin@andrew.cmu.edu">ziyuelin@andrew.cmu.edu</a></td>
      </tr>
      <tr>
        <td>LinkedIn</td>
        <td><a href="https://www.linkedin.com/feed/" target="_blank">LinkedIn Profile</a></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>8787870139</td>
      </tr>
    </table>
  </div>

  <footer>
    <p id="copyYear">Designed and coded by Zoey Ling &copy;</p>
  </footer>

</body>
</html>
