<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Zoey Ling</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Zoey Ling</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/cv.html">CV</a></li>
                <li><a href="../views/contact.html">Contact me</a></li>
                <li><a href="../views/fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form action="submit_form.php" method="post">
            <label for="name">Your name (required):</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Your email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="comment">Your comment:</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>

            <input type="submit" value="Send">
        </form>


        <table>
            <tr>
                <th>Contact Method Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td><a href="ziyuelin@andrew.cmu.edu">ziyuelin@andrew.cmu.edu</a></td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/feed/" target="_blank">LinkedIn Profile</a></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>8787870139</td>
            </tr>
        </table>
    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Zoey Ling.</p>
    </footer>
</body>
</html>
