<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Zoey Ling</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="font-family: Arial">
    <header style="color:white">
        <h1 id="webname">Zoey Ling</h1>
        <nav>
            <ul>
                <a class="nav-link"  href="../index.html">About</a>
                <a class="nav-link"  href="../views/cv.html">Resume</a>
                <a class="nav-link"  href="../views/contact.html">Contact</a>
                <a class="nav-link"  href="../views/fun.html">Interest</a>
            </ul>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>

            <tr>
                <td>The Hill School</td>
                <td>Boarding school located in Pottstown, PA</td>
            </tr>

            <tr>
                <td>Carnegie Mellon University</td>
                <td>Bachelor of Science in Information Systems</td>
            </tr>

            <tr>
                <td>Test Daily</td>
                <td>English Teaching Assistant</td>
            </tr>

            <tr>
                <td>XinDongzFang</td>
                <td>Study Abroad Consultant</td>
            </tr>
        </table>
        <p>
            <a href="../static/ZiyueLingResume.pdf">Download my resume (PDF)</a>
        </p>
    </div>
    <footer>
        <p>&copy; 2025 designed and coded by Zoey Ling.</p>
    </footer>
</body>
</html>
