<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Zoey Ling</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header style="color:white">
        <h1 id="webname">Ziyue(Zoey) Ling</h1>
        <nav>
            <ul>
                <a class="nav-link"  href="../index.html">About</a>
                <a class="nav-link"  href="../views/cv.html">Resume</a>
                <a class="nav-link"  href="../views/contact.html">Contact</a>
                <a class="nav-link"  href="../views/fun.html">Interest</a>
            </ul>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <nav>
            <button id="SeeMoreBTN" onclick="showList()">Click to see...</button>
            <ul id="FavList">
                <li>Squash</li>
                <li>Snowboarding</li>
                <li>Dance</li>
                <li>Boba</li>
            </ul>
        </nav>
    </div>
    <footer>
        <p id="copyYear">Designed and coded by Zoey Ling &copy</p>
    </footer>
</body>
</html>
